<a href="https://colab.research.google.com/github/Pravallikavyas/Placement_preparation_bootcamp_python-_developer/blob/main/Copy_of_Placement_Preparation_Bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i = int(input())# 1,2,....100,...n
j = int(input())#1,2,......100,...m
#five?
for index in range(i):#(0,1,2....n-1)# total_number = n
  for val in range(j):#(0,1,2,....,m-1)# total_ m
    print(index*val)

# Given a sorted list of number
eg = [1,4,6,7,9]
# your task is to identify the index of any number
# without using the index function

find index of 4 =1
find index of 10 = not exist

# Soultion

# binary search -->

In [ ]:
input_data = [1,6,7,8,9,10,23,56]
search_number = 23
low = 0
high = len(input_data)-1
while True:
  mid = (low+high) // 2 # floor division
  mid_val = input_data[mid]
  if mid > high:
    print("Number not present")
  else:
    if mid_val > search_number:
      high = mid-1
    elif mid_val <search_number:
      low = mid+1
    else:
      print(mid)
      break
# complexity of this algorithm is O(log n)

6

# You are given with a list in which numbers are given in the consecutive manner. However, user said one number might be missing. can you verify if the list have any missing number or not.

# We are making n stone piles! the first pile has n stones. If n is even, then all piles have an even number of stones. If n is odd, all piles have an odd number of stones. Each pile must have more than the previous pile but as few as possible,. Write a python prog to find the number of stones in each pile.

In [ ]:
n = int(input())#####O(1)

pile_list= []####O(1)
if n%2 == 0:# even#O(1)
  for index in range(0,n*2,2):#O(n)
    pile_list.append(index+n)# O(n)
else:# odd #O(1)
  for index in range(0,2*n,2):#O(n)
    pile_list.append(index+n)#O(n)
pile_list#O(1)

5

[5, 7, 9, 11, 13]

In [ ]:
O(1)+O(1)+O(1)+O(n)+O(n)+O(1)+O(n)+O(n)+O(1)
5*O(1)+4*O(n)
O(1)+O(n)
O(n)-->

# OOPS

# Object oriented programming

Students--> roll, course,name, fee, attendance, quiz marks# class

#Class -- > template
student1 --> { #Object
  roll,
  course,
  name,
  fee,
  attendance,
  quiz marks
}

In [ ]:
class student:
  def __init__(self,user_name,yob):
    self.name = user_name
    self.yob = yob
  def get_age(self):
    age = 2023-self.yob
    return age

student1 = student("poonam",1999)
student2 = student("Krishna",1998)

In [ ]:
student2.get_age()

25

# Create a class guvi and help us enroll companies with us
# name
# domain
# salary
# how_old
# location
# is_remote

In [4]:
class guvi:
  def __init__(self,name,domain,salary,how_old,location,is_remote):
    self.name = name
    self.domain = domain
    self.salary = salary
    self.how_old = how_old
    self.location = location
    self.is_remote = is_remote
  def printdetails(self):
    print(self.name,self.domain,self.salary,self.how_old,self.location,self.is_remote)
company1=guvi("google","developer",100000,30,"chennai",True)
company1.printdetails()
company2=guvi("Mr.Cooper","Data Analyst",100000,26,"chennai",True)
company2.printdetails()
company3=guvi("Marlensoft","Product Engineer Trainee",100000,26,"chennai",True)
company3.printdetails()

google developer 100000 30 chennai True
Mr.Cooper Data Analyst 100000 26 chennai True
Marlensoft Product Engineer Trainee 100000 26 chennai True

# You have to create a class rectangle. having constructor which take two arguments width, length. Create two methods which is call to be the area, perimeter used to find area of rectangle and perimeter of rectangle.

In [ ]:
class quad:

  def __init__(self,width,length):
    self.width = width
    self.length = length
  def area(self):
    self.area = self.width*self.length

  def perimeter(self):
    self.perimeter = 2*(self.width+self.length)
  def type_of_object(self):
    if self.width == self.length:
      self.type_of_obj = 'square'
    else:
      self.type_of_obj = 'rectangle'

rect1 = quad(12,12)
rect1.area()
rect1.perimeter()
rect1.type_of_object()
print(rect1.__dict__)
rect2 = quad(20,15)
rect2.area()
rect2.perimeter()
rect2.type_of_object()
print(rect2.__dict__)

{'width': 12, 'length': 12, 'area': 144, 'perimeter': 48, 'type_of_obj': 'square'}
{'width': 20, 'length': 15, 'area': 300, 'perimeter': 70, 'type_of_obj': 'rectangle'}

## You are IT head of a bank SBC, create a customer that takes acc nunber, name, balance =0.0

### create two functions
##### Deposit take amount as argument and add the given amount in the balance and update it
##### Withdraw take amount as argumnet and sub the given amount from the balance and update it.

#

In [ ]:
class SBC:
  bank_name = "SBC"
  def __init__(self,account_number,name):
    self.acc_num = account_number
    self.name = name
    self.balance = 0.0

  def deposit(self,amt):
    self.balance = self.balance+amt

  def withdraw(self,amt):
    if amt>self.balance:
      print("Insufficient balance")
    else:
      self.balance = self.balance-amt
cust1 = SBC(1234,'ajay')
cust1.deposit(100)
cust1.deposit(300)
cust1.deposit(400)
cust1.withdraw(500)

cust2 = SBC(123124,'krishna')
cust2.deposit(1000)
cust2.deposit(3000)
cust2.deposit(400)
cust2.withdraw(5000)

print(cust1.__dict__,cust1.bank_name)
print(cust2.__dict__,cust2.bank_name)

Insufficient balance
{'acc_num': 1234, 'name': 'ajay', 'balance': 300.0} SBC
{'acc_num': 123124, 'name': 'krishna', 'balance': 4400.0} SBC

## You are required to create a class 'Student' with following info.

##### __init__ (self,name,rollnumber)
##### add_grade(self,subject,number_of_credicts,grade)
##### get_average_grade(self) returns average grade scored by candidate

4*8+3*6/(4+3)

In [ ]:
class Student:
  institute = 'GUVI'
  def __init__(self,name,roll):
    self.name = name
    self.roll= roll
    self.course = {'Maths':0,'CS':0,'English':0}

  def add_grade(self,course_name,grade):
    self.course[course_name] = grade

  def get_average(self):
    print(Student.institute)
    if not self.course:
      self.average = 0.0
    else:
      self.average = sum(self.course.values())/len(self.course)
      return self.average

stud1 = Student('adhya',1)
stud1.__dict__
stud1.add_grade('Maths',8)
stud1.add_grade('CS',6)
stud1.add_grade('English',9)
stud1.__dict__
stud1.get_average()
stud1.__dict__

ZEN Classes

{'name': 'adhya',
 'roll': 1,
 'course': {'Maths': 8, 'CS': 6, 'English': 9},
 'average': 7.666666666666667}

## anagrams-->

# x,y
# if string x and string y contain the same characters with the same frequency or not
# silent and listen
# s = 1,1
# i = 1,1
# l = 1,1
# e = 1,1
# n = 1,1
# t = 1,1

In [ ]:
def are_anagrams(x,y):
  x = x.lower().strip()
  y = y.lower().strip()
  x = sorted(x)
  y = sorted(y)
  if x == y:
    print("The given strings were anagrams")
  else:
    print("The given strings were not anagrams")
are_anagrams('silent','listens')

The given strings were not anagrams

## Find the second largest number from the list?
# [10,10,10] --> no second
# []--> no second
# [10,10,9,9,9,9]--> 9

In [ ]:
def find_second_largest(numbers):
  if len(numbers)<2:
    return None
  sorted_numbers = sorted(set(numbers),reverse = True)
  if len(sorted_numbers)<2:
    return None
  else:
    return sorted_numbers[1]
find_second_largest([])